{% extends "_layouts/base.html" %}
{% load static from staticfiles %}
{% load talks_tags %}
{% load crispy_forms_tags %}
{% block title %}{{ object.name }} | Talks | {{ block.super }}{% endblock title %}

{% block headline %}
<h1>{{ object.name }}</h1>
<h2>
    <span class="text-primary">{{ object.host }}</span>
    <strong>at {{ object.when }}</strong>
    in <span class="text-info">Room {{ object.room }}</span>
</h2>
{% endblock headline %}

{% block css %}
<link href="{% static 'talks/css/star-rating.min.css' %}" rel="stylesheet">
{% endblock %}

{% block js %}
<script src="{% static 'talks/js/star-rating.min.js' %}"></script>
{% endblock %}

{% block content %}
{% if object.notes_html %}
 <div class="row">
     <div class="col-sm-8">
         <h3>Notes</h3>
         {{ object.notes_html|safe }}
     </div>
     <div class="col-sm-4">
         <div class="well">
             <table class="table table-condensed">
                 <thead>
                     <tr>
                         <th>Category</th>
                         <th>Rating</th>
                     </tr>
                 </thead>
                 <tbody>
                     <tr>
                         <th>Talk</th>
                         <td>{% show_stars object.talk_rating %}</td> {# {{ object.talk_rating }} #}
                     </tr>
                     <tr>
                         <th>Speaker</th>
                         <td>{% show_stars object.talk_rating %}</td> {# {{ object.speaker_rating }} #}
                     </tr>
                     <tr>
                         <th>Overall</th>
                         <td>{% show_stars object.talk_rating %}</td> {# {{ object.overall_rating }} #}
                     </tr>
                 </tbody>
             </table>
         </div>
     </div>
 </div>
 <hr>
 {% endif %}
    <div class="row">
        <div class="col-sm-8">
            {% crispy rating_form %}
        </div>
        <div class="col-sm-4">
            {% crispy list_form %}
            <p><a href="{{ object.talk_list.get_absolute_url }}">Back to list</a></p>
        </div>
    </div>

{% endblock content %}