{% extends '_layouts/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Lists | {{ block.super }}{% endblock title %}

{% block headline %}<h1>Your Lists</h1>{% endblock headline %}

{% block content %}
<div class="row">
    <div class="col-sm-6">
        <ul class="list-group">
            {% for object in obj %} {# inainte era object_list #}
                <span class="badge">{{ object.talk_count }}</span>
                <p><a href="{% url 'talks:lists:delete' pk=object.pk %}" class="btn">Delete a list</a></p>
            <li class="list-group-item">
               <a href="{{ object.get_absolute_url }}">{{ object }}</a>
            </li>
            {% empty %}
            <li class="list-group-item">You have no lists</li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-sm-6">
        <p><a href="{% url 'talks:lists:create' %}" class="btn">Create a new list</a></p>
    </div>
</div>
{% endblock %}