{% extends "_layouts/base.html" %}

{% block title %}Delete talk list{% endblock %}

{% block content %}
<form action="" method="post">
    {% csrf_token %}
    <p>Are you sure you want to delete "{{ obj.name }}"?</p>
    <input type="submit" value="Confirm" />
</form>
{% endblock %}