{% extends "_layouts/base.html" %}

{% block title %}Confirm removal{% endblock %}

{% block content %}
<form action="" method="post">
    {% csrf_token %}
    <p>Are you sure you want to remove "{{ talk.name }}"?</p>
    <input type="submit" value="Confirm" />
</form>
{% endblock %}