{% extends '_layouts/base.html' %}



{% block title %}Login | {{ block.super }}{% endblock %}

{% block headline %}<h1>Login to the PyCon Survival Guide</h1>{% endblock %}

{% block content %}
<form action="" method="POST">
    {% csrf_token %}
    {{ error }}
    {{ form.as_p }}
    <input type="submit" value="Login">
</form>
{% endblock %}