<!DOCTYPE>
<html>
<head>
    <title>{% block title %}PyCon Survival Guide{% endblock title %}</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <style>
        body {
            padding-bottom: 20px;
            padding-top: 70px;
        }
        .messages {
            list-style: none;
        }
    </style>
    {% block css %}{% endblock css %}
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">PyCon Survival Guide</a>
        </div>
        <div class="navbar-collapse collapse">
        {% if not user.is_authenticated %}
            <a href="{% url 'signup' %}" class="btn btn-default navbar-btn">Register</a>
            <a href="{% url 'login' %}" class="btn btn-default navbar-btn">Login</a>
        {% else %}
            <a href="{% url 'talks:lists:list' %}" class="btn btn-primary navbar-btn">Talk lists</a>
            <a href="{% url 'logout' %}" class="btn btn-default navbar-btn">Logout</a>
        {% endif %}
        </div><!--/.navbar-collapse -->
      </div>
    </div>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <div class="jumbotron">
        <div class="container">{% block headline %}{% endblock headline %}</div>
    </div>
    <div class="container">
        {% block content %}{% endblock content %}
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    {% block js %}{% endblock js %}
</body>
</html>